html, body, .main-container {
    height: 100%;
}

.container {
    padding: 1.5rem;
}

.btn-outline-secondary {
    background-color: #E9ECEF;
}

#main-header {
    font-size: 3rem;
}

#logo {
    margin-top: -15%;
    margin-bottom: -15%;
}